<% content_for :title, "Editing lab report" %>

<h1>Editing lab report</h1>

<%= render "form", lab_report: @lab_report %>

<br>

<div>
  <%= link_to "Show this lab report", @lab_report %> |
  <%= link_to "Back to lab reports", lab_reports_path %>
</div>
