<p style="color: green"><%= notice %></p>

<% content_for :title, "Lab reports" %>

<h1>Lab reports</h1>

<div id="lab_reports">
  <% @lab_reports.each do |lab_report| %>
    <%= render lab_report %>
    <p>
      <%= link_to "Show this lab report", lab_report %>
    </p>
  <% end %>
</div>

<%= link_to "New lab report", new_lab_report_path %>
